.container{
    padding:10px;
    border: solid 5px black;
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex-direction: column;
}
.cross{
    width: 20px;
}
.cross :hover{
   cursor: pointer;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}